


	
	<li class="status_updates" id="status-<%= status.id %>">


		<%= link_to status.user.name, status.user %>
		<br />
		<small><%= time_ago_in_words(status.created_at) %> ago</small>
		<div class="dropdown">
			<span class="glyphicon glyphicon-chevron-down" id="drop-<%= status.id %>" data-toggle="dropdown" aria-expanded="true"></span>

			<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="drop-<%= status.id %>">

				<li role="presentation"><a role="menuitem" tabindex="-1" href="#<%= status.id %>">View</a></li>	

				<% if current_user?(status.user) %>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#<%= status.id %>">Edit</a></li>			
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#<%= status.id %>">Delete</a></li>
				<% end %>			
			</ul>
		</div>

		<p><%= status.content %></p>
		
		
	</li>

	

