


	
	<li class="status_updates" id="status-<%= status.id %>">


		<%= link_to status.user.name, status.user %>
		<br />
		<small><%= time_ago_in_words(status.created_at) %> ago</small>
		<div class="dropdown">
			<span class="glyphicon glyphicon-chevron-down" id="drop-<%= status.id %>" data-toggle="dropdown" aria-expanded="true"></span>

			<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="drop-<%= status.id %>">

				<li role="presentation"><%= link_to "View", user_status_path(status.user.id, status.id) %></li>	

				<% if current_user?(status.user) %>
				<li role="presentation"><%= link_to "Edit", edit_user_status_path(status.user.id, status.id) %></li>			
				<li role="presentation"><%= link_to "Delete", status, method: :delete, data:{confirm: "Are you sure?"} %></li>
				<% end %>			
			</ul>
		</div>

		<p><%= status.content %></p>
		
		<%= link_to image_tag(status.picture.url, class: "img-responsive"), status.picture.url  if status.picture? %> 
		
		
		
	</li>

	

