<h2>Sign up today:</h2>	
<br />
<h4>It is free and will always be.</h4>
<br />

<%= form_for @user do |f|%>
			
	<%= f.text_field :name, class: "form-control", placeholder: 'Full name' %>
	
	<%= f.text_field :email, class: "form-control", placeholder: 'Email address' %>

	<%= f.password_field :password, class: "form-control", placeholder: 'Password' %>

	
	<%= f.submit "Sign up", class: "btn btn-success btn-lg" %>			


<% end %>